<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>客服</title>
    <link rel="stylesheet" href="{G:CSS}/style.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/index.js"></script>
</head>

<body>
    {template:model:header}
    <div class="wrap2 overflow">
        <div class="fl w100">
            <div class="fl fls">
                <p class="u"><img src="{avatar}" /></p>
                <p class="qiandao">签到赢金币</p>
                <ul class="fun">
                    <li><a href="{G:INDEX}/index.php?mod=user"><img src="{G:TU}/u1.png" />会员中心</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=edit"><img src="{G:TU}/u7.png" />作品管理</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=set"><img src="{G:TU}/u2.png" />账号设置</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=wallet"><img src="{G:TU}/u3.png" />我的钱包</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=vip"><img src="{G:TU}/u4.png" />充值会员</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=money"><img src="{G:TU}/u5.png" />充值金币</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=card"><img src="{G:TU}/u6.png" />卡密兑换</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=concern"><img src="{G:TU}/u7.png" />我的关注</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=albuy"><img src="{G:TU}/u8.png" />已购影片</a></li>
                    <li  class="selected"><a href="{G:INDEX}/index.php?mod=customer"><img src="{G:TU}/u9_.png" />客服中心</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=message"><img src="{G:TU}/u10.png" />消息中心</a></li>
                    <li><a href="{G:INDEX}/index.php?mod=shares"><img src="{G:TU}/u11.png" />推广赚钱</a></li>
                    <li class="logout"><a href="{G:INDEX}/index.php?mod=logout "><img src="{G:TU}/u12.png" />退出账号</a></li>
                </ul>
            </div>
           
            <div class="fl flr">
                <div class="customer rel">
                    <img class="customer" src="{G:TU}/customer.png" />
                    <div>
                        <p class="p1">客服中心</p>
                        <p class="p2">嘿，朋友！您遇到问题了吗？请与我们的专业客服团队联系，我们有备而来训练有素，在您使用本站服务遇到的任何问题，可为您提供全程指导直至成功解决！</p>
                        <p class="cutbtn"><a href="{kefu1}" target="_blank">在线客服</a><a target="_blank" href="{kefu2}">备用客服</a></p>
                    </div>
                </div>
                <p class="w100 center anw2">常见问题答疑(自助解决方案)</p>
                <ul class="answerlist overflow">
                    {data}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {template:model:footer}
</body>

</html>
