<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
    <style>

    </style>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
        		<div class="frame">
        		    <p class="title">提示</p>
        		    <div class="notice">
		                <div class="note-info">
		                    <p class="p1 btn3">温馨提示</p>
		                    <p class="pub">【社区-推荐】请填写手机号,将会显示所填用户发布的所有的社区内容,支持填写多人 用英文(,)分割 例: 18888888888,17777777777</p>
		                </div>
		            </div>
                    <p class="title">社区-推荐设置</p>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tbody>
                			<tr>
                				<td>社区-推荐</td>
                				<td><input name="organcommentsuser" value="{organcommentsuser}" placeholder="请填写手机号, 用英文(,)分割 例: 18888888888,17777777777"></td>
                			</tr>
                			
                			<tr>
                				<td></td>
                				<td><a href="javascript:;" class="btn submit" rel="updateorgancommentsuser"><i class="fa fa-plus-square-o"></i>设置</a></td>
                			</tr>
                		</tbody></table>
                	</div>
                </div>
            </div>
           
        </div>
    </div>
</body>
</html>