<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
                
                <div class="frame">
                    <p class="title">首页-推荐-整点秒杀</p>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tr>
                				<a href="{G:INDEX}/admin.php?mod=seckill" class="btn1"><i class="fa fa-plus-square-o"></i>前往设置</a>
                			</tr>
                        </table>
                	</div>
                </div>
                <div class="frame">
                    <p class="title">首页-推荐-聚划算</p>
                    <div class="notice">
		                <div class="note-info">
		                    <p class="p1 btn3">温馨提示</p>
		                    <p class="pub">1. 支持标题设置, 打包影片的数量不建议太多,从美观的角度看6个为最佳</p>
		                    <p class="pub">2. 影片只需填写ID即可,用英文逗号","分隔</p>
		                    <p class="pub">3. 如何设置?  标题/ID,ID,ID,ID,ID,ID/钻石价格  <span class='aly'>例: 今日热门/1,2,3,4,5,6/200</span></p>
		                </div>
		            </div>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tr>
                				<td>第一块</td>
                				<td><input name="pak1" value="{pak1}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                				<td>第二块</td>
                				<td><input name="pak2" value="{pak2}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                				<td>第三块</td>
                				<td><input name="pak3" value="{pak3}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                				<td>第四块</td>
                				<td><input name="pak4" value="{pak4}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                				<td>第五块</td>
                				<td><input name="pak5" value="{pak5}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                				<td>第六块</td>
                				<td><input name="pak6" value="{pak6}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                				<td>第七块</td>
                				<td><input name="pak7" value="{pak7}" placeholder="标题/ID,ID,ID,ID,ID,ID/钻石价格"></td>
                			</tr>
                			<tr>
                			    <td></td>
                			    <td><a class="btn btn2 submit" rel="updatecommend" topicid="2" href="javascript:;"><i class="fa fa-edit"></i>设置</a></td>
                			</tr>
                        </table>
                	</div>
                </div>
                <div class="frame">
                    <p class="title">爆款设置</p>
                    <div class="notice">
		                <div class="note-info">
		                    <p class="p1 btn3">温馨提示</p>
		                    <p class="pub">1. 如何设置?  ID,ID,ID,ID,ID,ID  例: 1,2,3,4,5,6</p>
		                    <p class="pub">2. 建议最多填写10个ID,以便凸显爆款</p>
		                </div>
		            </div>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tr>
                				<td>爆款影片ID</td>
                				<td><input name="hot" value="{hot}" placeholder="最多填写10个视频ID,用英文逗号分隔"></td>
                			</tr>
                			<tr>
                			    <td><a class="btn btn2 submit" rel="updatehot" topicid="2" href="javascript:;"><i class="fa fa-edit"></i>设置</a></td>
                			</tr>
                        </table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>