<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>SEO</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
    <style>
        .frmtable_content td.r input{
            margin-bottom:5px;width:10%
        }
    </style>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
        		<div class="frame">
                    <p class="title">SEO设置</p>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tbody>
                			<tr>
                				<td>首页</td>
                				<td><input value="{seo1}" name="seo1" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>推荐</td>
                				<td><input value="{seo2}" name="seo2" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>话题</td>
                				<td><input value="{seo3}" name="seo3" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>所有话题列表</td>
                				<td><input value="{seo4}" name="seo4" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>萌主列表页</td>
                				<td><input value="{seo5}" name="seo5" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>视频</td>
                				<td><input value="{seo6}" name="seo6" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>社区</td>
                				<td><input value="{seo7}" name="seo7" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>排行榜</td>
                				<td><input value="{seo8}" name="seo8" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>下载APP</td>
                				<td><input value="{seo9}" name="seo9" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>视频内容页</td>
                				<td><input value="{seo10}" name="seo10" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>社区内容页</td>
                				<td><input value="{seo11}" name="seo11" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>单页</td>
                				<td><input value="{seo12}" name="seo12" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>精选萌主</td>
                				<td><input value="{seo13}" name="seo13" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>专题归档</td>
                				<td><input value="{seo14}" name="seo14" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>选择玩法</td>
                				<td><input value="{seo15}" name="seo15" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>会员中心</td>
                				<td><input value="{seo16}" name="seo16" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>账号设置</td>
                				<td><input value="{seo17}" name="seo17" placeholder=""></td>
                			</tr>
                			<tr>
                				<td></td>
                				<td><a href="javascript:;" class="btn submit" rel="seo"><i class="fa fa-edit"></i>保存</a></td>
                			</tr>
                		</tbody></table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>