<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>找回密码</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <script type="text/javascript" src="../script/jquery.js"></script>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="{G:JS}/index.js"></script>
</head>

<body>
    {template:model:top}
    <div class="wrap  mt70">
        <div class="fm">
            <input class="fmbtn" name="tel" minlength="5" maxlength="20" placeholder="账号">
            <input class="fmbtn" name="email" minlength="5" maxlength="20" placeholder="密保邮箱">
            
            <p class="pubbtn addpo findpass"><a href="javascript:;">找回密码</a></p>
            <p class="des">点击找回密码后,将通过邮件发送到你指定的邮件地址里,请注意邮件是否被移到垃圾箱</p>
            <div class="center2">
                <div>
                    <a href="{G:INDEX}/index.php?mod=customer">
                    <img src="{G:INDEX}/static/img/web/form1.png">
                    <span>客服中心</span>
                    </a>
                </div>
                <div>
                    <a href="{G:INDEX}/download.html">
                    <img src="{G:INDEX}/static/img/web/form2.png">
                    <span>APP下载</span>
                    </a>
                </div>
                <div>
                    <a href="{tougao}" target="_blank">
                    <img src="{G:INDEX}/static/img/web/form3.png">
                    <span>投稿赚钱</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="botom"></p>
</body>

</html>
