<header class="wrap rel phonehide">
        <img class="logo fl" src="{G:TU}/logo.png" />
        <ul class="overflow fl">
            <li class="{a}"><span></span><a href="{G:INDEX}">首页</a></li>
            <li class="show"><span></span><span></span><a href="javascript:;">分类</a></li>
            <li class="{c}"><span></span><a href="{G:INDEX}/index.php?mod=recommend">推荐</a></li>
            <li class="{d}"><span></span><a href="{G:INDEX}/index.php?mod=type">话题</a></li>
            <li class="{e}"><span></span><a href="{G:INDEX}/index.php?mod=userlist">博主</a></li>
            <li class="{f}"><span></span><a href="{G:INDEX}/index.php?mod=videolist">视频</a></li>
            <li class="{g}"><span></span><a href="{G:INDEX}/index.php?mod=organlist">社区</a></li>
            <li class="{h}"><span></span><a href="{G:INDEX}/index.php?mod=rank">排行榜</a></li>
        </ul>
        <p class="download fl rel {i}"><span></span><img src="{G:TU}/download.png" /><a href="{G:INDEX}/index.php?mod=download">下载APP</a></p>
        <form class="fl" action="{G:INDEX}/index.php"><img class="abs search" src="{G:TU}/search.png"><input type="hidden" name="mod" value="search" /><div class='mysearch-wrap'><input class="input fl mysearch" name="keyword" placeholder="搜索/影片" /><button class="submit" type="submit">搜索</button></div></form>
        <p class="fr reg">{usermsg}</p>
        <ul class="type overflow abs hide">
            {topic}
        </ul>
        <div class="clear"></div>
</header>
{sw}

<script>
    $(function(){
        $('.menu').click(function(){
            $('.mask').show();
        });
        $('.mask .cs').click(function(){
            $('.mask').hide();
        });
        $('.mysearch,.submit').focus(function(){
          $('.mysearch').attr('style',"border:2px solid #FF7BA6");
          $('.submit').show();
        });
        
    });
</script>

